<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<div id="background1">
    <div id="message">
        <h1>IN THE MOOD TO CATCH A FLICK? SEE WHAT MOVIES ARE PLAYING NOW!</h1>
        <br>
        <a href="/results" class="btn btn-warning">Show me a list of movies!</a>
    </div>

<%- include('partials/footer.ejs') %> 